<!DOCTYPE html>
<html lang="en">

<body>
	Registriran si
	<p>
	<b>Name : </b> <%= person.username %>
	<br>
	<b>Pass : </b> <%= person.password %>

	<br><a href='/login.html'>Nazad na login</a>
	<br>

</body>

</html>

