<!DOCTYPE html>
<html lang="en">

<body>
	Logiran si
	<p>
	<b>Name : </b> <%= person.username %>
	<br>
	<br><a href='/login.html'>Nazad na login</a>
	<br><a href='/views/chat'>Chat</a>

</body>

</html>

