body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #CDE;
  margin-top: 50px;
}

	.container-fluid {
		min-height: 90vh;
	}
	
		#cipherArea {
			height: 90vh;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		#userArea {
			display: none;
		}

		#messageArea {
			display: none;
		}

		#main {
			display: none;
		}




a {
  color: #00B7FF;
}

.hiddenImage {
	display: none;
	//width: 100px;
	//height: 100px;
}