body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #CDE;
  margin-top: 50px;
}

	.container-fluid {
		min-height: 90vh;
	}
	
		#cipherArea {
			height: 90vh;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		#userArea, #messageArea  {
			//display: none;
		}

		#main {
			position:relative;
			width:940px;
			padding:20px;
			margin:auto;
			display: none;
		}
					
			#right {
				position:relative;
				float:left;
				margin: 10px;
				width:600px;
				vertical-align:top;
			}

				#img, #cover {
					width:  900px;
					height: 596px;			
				}

a { color: #00B7FF;}



